<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage Horaire</title>
</head>
<body>


<h2>Choix parametres</h2>
<select id="listeSemaines"></select>








<script>
    async function chercherListeSemaine(){
    return  await fetch('https://testcalendrier.herokuapp.com/api/v1/semaines');
}
(async () => {
  const {semaines}=await chercherListeSemaine();
console.log(semaines);
const selectListeSemaines=document.getElementById("listeSemaines");
const listeSemainesbis= semaines.map((semaine, index) => {
    `<option value="${index}">${semaine}</option>`
})
selectListeSemaines.innerHTML = listeSemainesbis;
console.log(listeSemainesbis)
})()

</script>



</body>
</html>