<!DOCTYPE html>
<html>
<head></head>

<body>



<div class="container">

<h2>Choix parametres</h2>






<h2>Horaire</h2>

<ul>

    <% results.forEach(function(r) { %>
        <li><%= r.typequart %> - <%= r.joursemaine %> - <%= r.nomemploye%></li>
    <% }); %>
</ul>

</div>





</body>
</html>