<!DOCTYPE html>
<html>
<head></head>

<body>



<div class="container">
<h2>Horaire</h2>

<ul>

    <% results.forEach(function(r) { %>
    <%= Object.keys(r) %>

        <li><%= r.TypeQuart %> - <%= r.JourSemaine %> - <%= r.NomEmploye%></li>
    <% }); %>
</ul>

</div>





</body>
</html>