<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage Horaire</title>
</head>
<body>


<h2>Choix parametres</h2>
<select id="listeSemaines"></select>








<script>
async function chercherListeSemaine(){
    try {
        const resp=await fetch('https://testcalendrier.herokuapp.com/api/v1/semaines');
        const donnee = await resp.json();
        return JSON.parse(JSON.stringify(donnee));
    } catch (err) {
        console.log(err);
    }
}
(async () => {
  const resp=await chercherListeSemaine();
console.log(resp);
const selectListeSemaines=document.getElementById("listeSemaines");
const choix = resp.choixSemaines;
let options='';
for(const c of choix) {
    const nvelleOption = `<option value="0">${c['idtablehoraire']}</option>`;
    options.concat(nvelleOption);
}
//const listeSemainesbis= choix.map((semaine, index) => {
//   `<option value="${index}">${semaine.idtablehoraire}</option>`
})
console.log(options);
selectListeSemaines.innerHTML = options;
})()

</script>



</body>
</html>