<!DOCTYPE html>
<html>
<head></head>

<body>



<div class="container">
<h2>Horaire</h2>

<ul>

    <% results.forEach(function(r) { %>
        <li><%= r.idemploye %> - <%= r.joursemaine %> - <%= r.typequart %></li>
    <% }); %>
</ul>

</div>





</body>
</html>