<!DOCTYPE html>
<html lang="en">
<title>Affichage Horaire</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />

  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	
	<script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="/AffichageHoraire" class="w3-bar-item w3-button w3-theme-l1">Affichage Horaire</a>
    <a href="/GestionEmploye" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Employe</a>
    <a href="/GestionHoraire" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Horaire</a>
    <a href="/PageEmploye" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Zone Employe</a>
  </div>
</div>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Heading</h1>
<h4>Choix de la semaine</h4>


<select id="listeSemaines"></select>
      </br>  </br>

      <div class='container'>
        <div class='form-row'>
      <div class='form-group col-8'>
        <label for='datehoraire'> Date de l'horaire:</label>
        <input type='date' id='datesemaine' class='form-control' daysOfWeekDisabled='0,2,3,4,5,6'>
      </div>
        </div>
      </div>

	
	
	  <input id="datepicker" width="312" />

      <table id="tabledesHoraire"></table>




   </div>
 
  </div>
   

  </div>
  

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
	
	 $('#datepicker').datepicker({
        disableDaysOfWeek: [0, 2, 3, 4, 5, 6]
    });
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");
// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");
// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}
// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}


async function chercherListeSemaine(){
    try {
        const resp=await fetch('https://testcalendrier.herokuapp.com/api/v1/semaines');
        const donnee = await resp.json();
        return JSON.parse(JSON.stringify(donnee));
    } catch (err) {
        console.log(err);
    }
}
async function chercherHoraire(choixsemaine){
    console.log(choixsemaine)
    try {
        const resp=await fetch('https://testcalendrier.herokuapp.com/api/v1/horaires',
          {
            method: 'POST',
            body: JSON.stringify({choixsemaine})
           }
        );
        const donnee = await resp.json();
        return JSON.parse(JSON.stringify(donnee));
    } catch (err) {
        console.log(err);
    }
}
  
  async function chercherHoraire2(choixdate){
    console.log(choixdate)
    try {
        const resp=await fetch('https://testcalendrier.herokuapp.com/api/v1/horaires',
          {
            method: 'POST',
            body: JSON.stringify({choixdate})
           }
        );
        const donnee = await resp.json();
        return JSON.parse(JSON.stringify(donnee));
    } catch (err) {
        console.log(err);
    }
}
async function handleSelectChange(event) {
    console.log(event)
    const resp = await chercherHoraire(event.target.value);
    console.log(resp);
    construiretableau(resp)
}
  
 async function handleSelectChange2(event) {
    console.log(event)
    const resp = await chercherHoraire2(event.target.value);
    console.log(resp);
    construiretableau(resp)
} 

function construiretableau(resp){
   const tabledesresultats=document.getElementById("tabledesHoraire");
    let lignes=''
    for(const c of resp.horaires) {
    const ligne = `<tr><td>${c.nomemploye}</td><td>${c.typequart}</td><td>${c.joursemaine}</td></tr>`;
    lignes = lignes + ligne;
  }
  console.log(lignes);
  tabledesHoraire.innerHTML = lignes;
}  
  
  
 
  
  
  
  
(async () => {
const resp=await chercherListeSemaine();
console.log(resp);
const selectListeSemaines=document.getElementById("listeSemaines");
selectListeSemaines.addEventListener("change", async (event) => handleSelectChange(event));
const choix = resp.choixSemaines;
let options=`<option value="000">000</option>`;
for(const c of choix) {
    const nvelleOption = `<option value="${c['idtablehoraire']}">${c['idtablehoraire']}</option>`;
    options = options + nvelleOption;
}
const selectDateSemaine=document.getElementById("datesemaine");
selectDateSemaine.addEventListener("change", async (event) => handleSelectChange2(event));
  
  
  
  
console.log(options);
selectListeSemaines.innerHTML = options;
})()

</script>

</body>
</html>
