<!DOCTYPE html>
	<html lang="fr">
	
	<head>	
		<title>Gestion employés</title>
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
			.w3-sidebar {
  			z-index: 3;
  			width: 250px;
  			top: 43px;
  			bottom: 0;
  			height: inherit;
			}
		</style>
	</head>
	
	<body>
		<!-- Navbar -->
		<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="/AffichageHoraire" class="w3-bar-item w3-button w3-theme-l1">Affichage Horaire</a>
    <a href="/GestionEmploye" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Employe</a>
    <a href="/GestionHoraire" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Horaire</a>
    <a href="/PageEmploye" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Zone Employe</a>
  </div>
</div>

		

		<!-- Overlay effect when opening sidebar on small screens -->
		<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

		<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
		<div class="w3-main" style="margin-left:250px">

  			<div class="w3-row w3-padding-64">
    			<div class="w3-twothird w3-container">
      				<h1 class="w3-text-teal">Rechercher des employés</h1>
      				<br/>
      				<div class='container'>
      					<div class='row'>
      						<div class='col-4'>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btnchercheremploye" name='btnchercheremploye' value='btnchercheremploye'>Afficher tous les employés</button>
      						</div>
      						<div class='col-1'></div>
      						<div class='col-4'>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btncacherliste" name='btncacherliste' value='btncacherlliste'>Dissimuler la liste des employés</button>
      						</div>
      					</div>
      					<br/>
      					<div class='form-row'>
      						<div class='col-3'>
      							<label for='recherche'>Recherche d'employés</label>	
      							<label for='recherche'>Rechercher par:</label>
      						</div>
      						<div class='col-4'>
      							<input name='nomouprenom' class='form-control form-constrol-sm' id='nomouprenom' type='text' placeholder="Maximum 20 caractères" pattern='[a-zA-Z]{4,20}'>
      							<select id="selectionRecherche" class="form-control">
        							<option value="nom">Nom</option>
        							<option value ="prenom">Prenom</option>
      							</select>
      						</div>
      						<div class='col-4'>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btnrecherche" name='btnrecherche' value='btnrecherche'>Rechercher</button>
      						</div>
      					</div>
      				</div>
      				<br/>
      				<p> Veuillez cliquer sur le nom, prénom ou le nombre d'heures d'un employé pour le modifier.</p>
      				<table class='table'>
      					<thead>
      					<tr>
      						<th>Identifiant</th>
      						<th>Nom</th>
      						<th>Prenom</th>
      						<th>Heures maximales par semaine</th>
      						<th>Date d'embauche</th>
      					</tr>
      					</thead>
      					<tbody id="tableEmploye">
      					
      					</tbody>
      				</table>
    			</div>
    			
  			</div>

  			<div class="w3-row">
    			<div class="w3-twothird w3-container">
      				<h1 class="w3-text-teal">Ajouter un employé</h1>
      				<br/>
      				<div class='container'>
      				<form enctype='multipart/form-data'>
      				<fieldset>
      					<div class='form-row'>
      						<div class='form-group col-6'>
      							<label for='nomemploye'>Nom:</label>
      							<input name='nomemploye' class='form-control form-constrol-sm' id='nomemployeid' placeholder="Nom (entre 4 et 20 caractères)" type='text' pattern='[a-zA-Z]{4,20}' required='required'>
      						</div>
      						<div class='form-group col-6'>
      							<label for='prenomemploye'>Prenom:</label>
      							<input name='prenomemploye' class='form-control form-constrol-sm' id='prenomemployeid' placeholder="Prenom (entre 4 et 20 caractères)"type='text' pattern='[a-zA-Z]{4,20}' required='required'>
      						</div>
      					</div>
      					<div class='form-row'>
      						<div class='form-group col-8'>
      							<label for='nbheuresmax'>Nombre de quarts de travail maximum par semaine:</label>
      							<input name='nbheuresmax' class='form-control form-constrol-sm' id='nbquartsmaxid' placeholder="Un nombre entre 1 et 15"type='text' pattern='[0-9]{1,2}' required='required'>
      						</div>
      					</div>	
      					<div class='form-row'>
      						<div class='form-group col-8'>
      							<label for='nbheuresmax'>Date d'embauche:</label>
      							<input type='date' id='dateembauche' class='form-control'>
      							
      						</div>
      					</div>
      					<div class='form-row'>
      						<div class='form-group col-8'>
      							<label for='motdepasse'>Veuillez créer un mot de passe:</label>
      							<input name='motdepasse' class='form-control form-constrol-sm' id='motdepasse' type='text' placeholder="alphanumérique (entre 1 et 6 caractères)"pattern='[a-zA-Z0-9]{1,6}' required='required'>
      						</div>   						
      					</div>
      					<div class='form-row'>
      						<div class='form-group col-12'>
      							<label for='nbheuresmax'>Veuillez cocher les disponibilités de l'employé:</label>
      							<div class='form-group col-12'>
      								<p>Lundi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J1' value='J1'>
      									<label class='form-check-label' for='J1'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S1' value='S1'>
      									<label class='form-check-label' for='S1'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N1' value='N1'>
      									<label class='form-check-label' for='N1'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Mardi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J2' value='J2'>
      									<label class='form-check-label' for='J2'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S2' value='S2'>
      									<label class='form-check-label' for='S2'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N2' value='N2'>
      									<label class='form-check-label' for='N2'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Mercredi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J3' value='J3'>
      									<label class='form-check-label' for='J3'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S3' value='S3'>
      									<label class='form-check-label' for='S3'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N3' value='N3'>
      									<label class='form-check-label' for='N3'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Jeudi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J4' value='J4'>
      									<label class='form-check-label' for='J4'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S4' value='S4'>
      									<label class='form-check-label' for='S4'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N4' value='N4'>
      									<label class='form-check-label' for='N4'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Vendredi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J5' value='J5'>
      									<label class='form-check-label' for='J5'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S5' value='S5'>
      									<label class='form-check-label' for='S5'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N5' value='N5'>
      									<label class='form-check-label' for='N5'> Nuit </label>
      								</div>
      							</div>
      						</div>   						
      					</div>
      					<button class='btn btn-primary' style='background-color:grey; border:none' id="btncreeremploye" name='btncreeremploye' value='btncreeremploye'>Envoyer</button>
      				</fieldset>
      				</form>
      				</div>
    			</div>    		
  			</div>

  			<div class="w3-row w3-padding-64">
    			<div class="w3-twothird w3-container">
      				<h1 class="w3-text-teal">Congédier un employé</h1>
      				<div class='form-row'>
      					<form enctype='multipart/form-data' >
      					<fieldset>
      						<div class='form-group col-12'>
      							<label for='identifiant'>Identifiant de l'employé à congédier:</label>
      							<input name='identifiant' class='form-control form-constrol-sm' id='identifiant' placeholder="Identifiant (code à 5 lettres)"type='text' pattern='[a-zA-Z]{5}' required='required'>
      							<br/>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btncongediement" name='btncongediement' value='btncongediement'>Congédier</button>
      						</div>	
      					</fieldset>
      					</form>
      				</div>
    			</div>
  			</div>

  

  			<footer id="myFooter">
    			<div class="w3-container w3-theme-l2 w3-padding-32">
      				<h4>Footer</h4>
    			</div>

    			<div class="w3-container w3-theme-l1">
      				<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    			</div>
  			</footer>

		<!-- END MAIN -->
		</div>

		<script>
		// Get the Sidebar
		var mySidebar = document.getElementById("mySidebar");
		// Get the DIV with overlay effect
		var overlayBg = document.getElementById("myOverlay");
		// Toggle between showing and hiding the sidebar, and add overlay effect
		function w3_open() {
  			if (mySidebar.style.display === 'block') {
    			mySidebar.style.display = 'none';
    			overlayBg.style.display = "none";
  			} else {
    			mySidebar.style.display = 'block';
    			overlayBg.style.display = "block";
  			}
		}
		// Close the sidebar with the close button
		function w3_close() {
  			mySidebar.style.display = "none";
  			overlayBg.style.display = "none";
		}
		
		//FONCTIONS POUR ACCEDER À LA BASE DE DONNÉES	
		const btnCreer = document.getElementById("btncreeremploye");
		const btnAfficher = document.getElementById("btnchercheremploye");
		const btnCongedier = document.getElementById("btncongediement"); 
		const btnCacher = document.getElementById("btncacherliste")
		const btnChercher = document.getElementById("btnrecherche")
		
		btnAfficher.addEventListener("click", async e => {
		    try {
				const tableEmploye = document.getElementById("tableEmploye");
				while(tableEmploye.firstChild) tableEmploye.removeChild(tableEmploye.firstChild);
				const resultat = await fetch('Employe', {method: "GET"});
				const employes = await resultat.json();
				console.log(employes)
				employes.forEach(t => {
					const tr = document.createElement("tr");
					const td1 = document.createElement("td");
					const td2 = document.createElement("td");
					const td3 = document.createElement("td");
					const td4 = document.createElement("td");
					const td5 = document.createElement("td");
					td1.textContent = t.idemploye;
					td2.textContent = t.nomemploye;
					td3.textContent = t.prenomemploye;
					td4.textContent = t.nbrquartsmax;
					td5.textContent = t.dateembauche.substring(0,10);
					
					//Pour modifier le nom d'un employé
					td2.addEventListener("click", async e=> {
						var nom = prompt("Veuillez entrer le nouveau nom de " + t.prenomemploye + " " + t.nomemploye);
						if (nom != null && nom != "") {
							nom = nom.toUpperCase();
							changerInfoEmploye(t.idemploye, nom, t.prenomemploye, t.nbrquartsmax, t.dateembauche);
						} else {
							alert("Aucune modification n'a été faite")
						}
					})
					
					//Pour modifier le prénom d'un employé
					td3.addEventListener("click", async e=> {
						var prenom = prompt("Veuillez entrer le nouveau prenom de " + t.prenomemploye + " " + t.nomemploye);
						if (prenom != null && prenom != "") {
							prenom = prenom.toUpperCase();
							changerInfoEmploye(t.idemploye, t.nomemploye, prenom, t.nbrquartsmax, t.dateembauche);
						} else {
							alert("Aucune modification n'a été faite")
						}
					})
					
					//Pour modifier le nombre de quarts de travail maximum que l'employé travaillera dans une semaine
					td4.addEventListener("click", async e=> {
						var quarts = prompt("Veuillez entrer le nouveau nombre de quarts de travail maximum de " + t.prenomemploye + " " + t.nomemploye);
						if (quarts != null && quarts != "" && !isNaN(quarts)) {
							quarts = parseInt(quarts, 10);
							changerInfoEmploye(t.idemploye, t.nomemploye, t.prenomemploye, quarts, t.dateembauche);
						} else {
							alert("Aucune modification n'a été faite")
						}
					})
					
					tableEmploye.appendChild(tr);
					tr.appendChild(td1);
					tr.appendChild(td2);
					tr.appendChild(td3);
					tr.appendChild(td4);
					tr.appendChild(td5);
				})
		    }catch (e) {
		  		console.log("Impossible d'afficher les employes");
		    }
		});	
		
		async function changerInfoEmploye(idemploye, nomemploye, prenomemploye, nbrquartsmax, dateembauche) {
			supprimerEmploye(idemploye);	
			const jsonEmp = {};
			jsonEmp.idemploye = idemploye;
			jsonEmp.nomemploye = nomemploye;
			jsonEmp.prenomemploye = prenomemploye;
			jsonEmp.nbrquartsmax = nbrquartsmax;
			jsonEmp.dateembauche = dateembauche;
			console.log(jsonEmp);
			ajouterEmploye(jsonEmp)
		}
		
		btnCacher.addEventListener("click", function() {
			const tableEmploye = document.getElementById("tableEmploye");
			while(tableEmploye.firstChild) tableEmploye.removeChild(tableEmploye.firstChild);
		}) 
		
		btnChercher.addEventListener("click", async e => {
			const tableEmploye = document.getElementById("tableEmploye");
			while(tableEmploye.firstChild) tableEmploye.removeChild(tableEmploye.firstChild);
			const resultat = await fetch('/Employe', {method: "GET"});
			const employes = await resultat.json();
			const dropDown = document.getElementById("selectionRecherche");
			const recherchePar = dropDown.options[dropDown.selectedIndex].value;
			const inputRecherche = document.getElementById("nomouprenom").value;
			const input = inputRecherche.toUpperCase();
			if (recherchePar == "nom") {
				employes.forEach(t => {
					if (t.nomemploye == input)	{				
						const tr = document.createElement("tr");
						const td1 = document.createElement("td");
						const td2 = document.createElement("td");
						const td3 = document.createElement("td");
						const td4 = document.createElement("td");
						const td5 = document.createElement("td");
						td1.textContent = t.idemploye;
						td2.textContent = t.nomemploye;
						td3.textContent = t.prenomemploye;
						td4.textContent = t.nbrquartsmax;
						td5.textContent = t.dateembauche.substring(0,10);	
						
						td2.addEventListener("click", async e => {
							var nomEmp = prompt("Veuillez entrer le nouveau nom de " + t.prenomemploye + " " + t.nomemploye);
							if (nomEmp != null && nomEmp != "") {
								const nom = nomEmp.toUpperCase();
								changerInfoEmploye(t.idemploye, nom, t.prenomemploye, t.nbrquartsmax, t.dateembauche);
							} else {
								alert("Aucune modification n'a été faite")
							}
						})
						
						td3.addEventListener("click", async e => {
							var prenomEmp = prompt("Veuillez entrer le nouveau prenom de " + t.prenomemploye + " " + t.nomemploye);
							if (prenomEmp != null && prenomEmp != "") {
								var prenom = prenomEmp.toUpperCase();
								alert(prenom);
								changerInfoEmploye(t.idemploye, t.nomemploye, prenom, t.nbrquartsmax, t.dateembauche);
							} else {
								alert("Aucune modification n'a été faite")
							}
						})
						
						td4.addEventListener("click", async e => {
							var quarts = prompt("Veuillez entrer le nouveau nombre de quarts de travail maximum de " + t.prenomemploye + " " + t.nomemploye);
							if (quarts != null && quarts != "" && !isNaN(quarts)) {
								quarts = parseInt(quarts, 10);
								changerInfoEmploye(t.idemploye, t.nomemploye, t.prenomemploye, quarts, t.dateembauche);
							} else {
								alert("Aucune modification n'a été faite")
							}
						})
						
						tableEmploye.appendChild(tr);
						tr.appendChild(td1);
						tr.appendChild(td2);
						tr.appendChild(td3);
						tr.appendChild(td4);
						tr.appendChild(td5);
					}
				})
			}else if (recherchePar == "prenom") {
				employes.forEach(t => {
					if (t.prenomemploye == input)	{				
						const tr = document.createElement("tr");
						const td1 = document.createElement("td");
						const td2 = document.createElement("td");
						const td3 = document.createElement("td");
						const td4 = document.createElement("td");
						const td5 = document.createElement("td");
						td1.textContent = t.idemploye;
						td2.textContent = t.nomemploye;
						td3.textContent = t.prenomemploye;
						td4.textContent = t.nbrquartsmax;
						td5.textContent = t.dateembauche.substring(0,10);
						
						td2.addEventListener("click", async e => {
							var nomEmp = prompt("Veuillez entrer le nouveau nom de " + t.prenomemploye + " " + t.nomemploye);
							if (nomEmp != null && nomEmp != "") {
								const nom = nomEmp.toUpperCase();
								changerInfoEmploye(t.idemploye, nom, t.prenomemploye, t.nbrquartsmax, t.dateembauche);
							} else {
								alert("Aucune modification n'a été faite")
							}
						})
						
						td3.addEventListener("click", async e => {
							var prenomEmp = prompt("Veuillez entrer le nouveau prenom de " + t.prenomemploye + " " + t.nomemploye);
							if (prenomEmp != null && prenomEmp != "") {
								var prenom = prenomEmp.toUpperCase();
								changerInfoEmploye(t.idemploye, t.nomemploye, prenom, t.nbrquartsmax, t.dateembauche);
							} else {
								alert("Aucune modification n'a été faite")
							}
						})
						
						td4.addEventListener("click", async e => {
							var quarts = prompt("Veuillez entrer le nouveau nombre de quarts de travail maximum de " + t.prenomemploye + " " + t.nomemploye);
							if (quarts != null && quarts != "" && !isNaN(quarts)) {
								quarts = parseInt(quarts, 10);
								changerInfoEmploye(t.idemploye, t.nomemploye, t.prenomemploye, quarts, t.dateembauche);
							} else {
								alert("Aucune modification n'a été faite")
							}
						})
						
						tableEmploye.appendChild(tr);
						tr.appendChild(td1);
						tr.appendChild(td2);
						tr.appendChild(td3);
						tr.appendChild(td4);
						tr.appendChild(td5);
					}
				})
			}
			
		})
		
		btnCreer.addEventListener("click", async e => {	
			try {
				const jsonEmp = {};	
				const jsonIdentification = {};
				
				var nomEmp =  document.getElementById('nomemployeid').value;	
				jsonEmp.nomemploye = nomEmp.toUpperCase();				
				var prenomEmp = document.getElementById('prenomemployeid').value;
				jsonEmp.prenomemploye = prenomEmp.toUpperCase();
				var ID = creerIDEmploye(jsonEmp.nomemploye, jsonEmp.prenomemploye);
				jsonEmp.idemploye = ID;
				var quarts = document.getElementById('nbquartsmaxid').value;
				jsonEmp.nbrquartsmax = parseInt(quarts, 10);	
				//jsonEmp.nbrquartsmax = document.getElementById('nbquartsmaxid').value;
				var date = document.getElementById('dateembauche').value
				var dateAjustee = new Date(date);
				dateAjustee.setMinutes(dateAjustee.getMinutes() + dateAjustee.getTimezoneOffset()); //Permet d'avoir la bonne date sans influence du fuseau horaire
				jsonEmp.dateembauche = dateAjustee;
				
				jsonIdentification.idutilisateur = ID;
				jsonIdentification.motdepasse = document.getElementById('motdepasse').value;
				
				console.log(jsonEmp);
				ajouterEmploye(jsonEmp);				
				ajouterIdentification(jsonIdentification);
				
				const dispoSemaine = {};
				
				dispoSemaine.J1 = document.getElementById("J1").checked;
				dispoSemaine.S1 = document.getElementById("S1").checked;
				dispoSemaine.N1 = document.getElementById("N1").checked;
				dispoSemaine.J2 = document.getElementById("J2").checked;
				dispoSemaine.S2 = document.getElementById("S2").checked;
				dispoSemaine.N2 = document.getElementById("N2").checked;
				dispoSemaine.J3 = document.getElementById("J3").checked;
				dispoSemaine.S3 = document.getElementById("S3").checked;
				dispoSemaine.N3 = document.getElementById("N3").checked;
				dispoSemaine.J4 = document.getElementById("J4").checked;
				dispoSemaine.S4 = document.getElementById("S4").checked;
				dispoSemaine.N4 = document.getElementById("N4").checked;
				dispoSemaine.J5 = document.getElementById("J5").checked;
				dispoSemaine.S5 = document.getElementById("S5").checked;
				dispoSemaine.N5 = document.getElementById("N5").checked;
				
				insererDisponibilite2(dispoSemaine);
				
			} catch (e) {
				console.log("Impossible d'ajouter un employe");
			}
		})
		//L'identifiant de l'employé est composé de la première lettre de son nom + les 4 premières lettres de son prénom
		function creerIDEmploye(nom, prenom) {
			let nomUn = nom.charAt(0);
			let prenomQuatre = prenom.substring(0,4);
			let ID = nomUn.concat(prenomQuatre);
			return ID;
		}
		
		async function insererDisponibilite(idemploye, typequart, joursemaine, dispo) {
			const jsonDispo = {};	
			jsonDispo.idemploye = idemploye;
			jsonDispo.typequart = typequart;
			jsonDispo.joursemaine = joursemaine;
			jsonDispo.dispo = dispo;
			console.log(jsonDispo);
			const result = await fetch('/Disponibilite', {
		        method: 'POST', 
				headers: { 
				'Accept': 'application/json',
					'Content-Type': 'application/json'
			}, 
			body: JSON.stringify(jsonDispo) })
			const success = await result.json();
			if(!success.success){
				alert("dispo pas entrées" + typequart + " " + joursemaine);
			}
		}	

		async function insererDisponibilite2(dispo) {
			//const jsonDispo = {};	
			const result = await fetch('/Disponibilite2', {
		        method: 'POST', 
				headers: { 
				'Accept': 'application/json',
					'Content-Type': 'application/json'
			}, 
			body: JSON.stringify(dispo) })
			const success = await result.json();
			if(!success.success){
				alert("dispo pas entrées" + typequart + " " + joursemaine);
			}
		}			
		
		btnCongedier.addEventListener("click", async e => {
			var ID = document.getElementById('identifiant').value;
			supprimerEmploye(ID);
			supprimerIdentificationEmploye(ID);
			changerDispoEmploye(ID);
		})	
		
		async function ajouterEmploye(jsonEmp){
			const result = await fetch('Employe', {
		        method: 'POST', 
			headers: { 
			'Accept': 'application/json',
					'Content-Type': 'application/json'
			}, 
			body: JSON.stringify(jsonEmp) })
		}
		
		async function ajouterIdentification(jsonIdentification){
			const result = await fetch('/Identification', {
		        method: 'POST', 
			headers: { 
			'Accept': 'application/json',
					'Content-Type': 'application/json'
			}, 
			body: JSON.stringify(jsonIdentification) })
		}
		
		async function supprimerEmploye(employe){
			const jsonRequest = {}
			employe = employe.toUpperCase();
			jsonRequest.idemploye = employe;
			const resultat = await fetch('/Employe', {method: "DELETE", 
        		headers: { "content-type": "application/json"}, body: JSON.stringify(jsonRequest) })
		}
		
		async function supprimerIdentificationEmploye(idemploye){
			const jsonRequest = {}
			idemploye = idemploye.toUpperCase();
			jsonRequest.idutilisateur = idemploye;
			console.log(jsonRequest);
			const resultat = await fetch('/Identification', {method: "DELETE", 
        		headers: { "content-type": "application/json"}, body: JSON.stringify(jsonRequest) })
		}
		
		async function changerDispoEmploye(idemploye){
			idemploye = idemploye.toUpperCase();
			await supprimerDispo(idemploye); 	//Les disponibilités de l'employé sont d'abord supprimées 		
			//Les disponibilités de l'employé sont remises dans la base de données avec comme code '0' (non disponible)
			 insererDisponibilite(idemploye, 'J', '1', '0'); 
			 insererDisponibilite(idemploye, 'S', '1', '0');
			 insererDisponibilite(idemploye, 'N', '1', '0');
			 insererDisponibilite(idemploye, 'J', '2', '0');
			 insererDisponibilite(idemploye, 'S', '2', '0');
			 insererDisponibilite(idemploye, 'N', '2', '0');
			 insererDisponibilite(idemploye, 'J', '3', '0');
			 insererDisponibilite(idemploye, 'S', '3', '0');
			 insererDisponibilite(idemploye, 'N', '3', '0');
			 insererDisponibilite(idemploye, 'J', '4', '0');
			 insererDisponibilite(idemploye, 'S', '4', '0');
			 insererDisponibilite(idemploye, 'N', '4', '0');
			 insererDisponibilite(idemploye, 'J', '5', '0');
			 insererDisponibilite(idemploye, 'S', '5', '0');
			 insererDisponibilite(idemploye, 'N', '5', '0');
		}
		
		async function supprimerDispo(idemploye){
			const jsonRequest = {};
			jsonRequest.idemploye = idemploye;
			const resultat = await fetch('/Disponibilite', {method: "DELETE", 
        		headers: { "content-type": "application/json"}, body: JSON.stringify(jsonRequest) }); 
        	const success = await resultat.json();
		}
		</script>		
	</body>
</html>
