<!DOCTYPE html>
	<html lang="fr">
	
	<head>	
		<title>Gestion employés</title>
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
			.w3-sidebar {
  			z-index: 3;
  			width: 250px;
  			top: 43px;
  			bottom: 0;
  			height: inherit;
			}
		</style>
	</head>
	
	<body>
		<!-- Navbar -->
		<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="/AffichageHoraire" class="w3-bar-item w3-button w3-theme-l1">Affichage Horaire</a>
    <a href="/GestionEmploye" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Employe</a>
    <a href="/GestionHoraire" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Horaire</a>
  </div>
</div>

		<!-- Sidebar -->
		<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  			<a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    			<i class="fa fa-remove"></i>
  			</a>
  			<h4 class="w3-bar-item"><b>Menu</b></h4>
  			<a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
  			<a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
  			<a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
  			<a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
		</nav>

		<!-- Overlay effect when opening sidebar on small screens -->
		<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

		<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
		<div class="w3-main" style="margin-left:250px">

  			<div class="w3-row w3-padding-64">
    			<div class="w3-twothird w3-container">
      				<h1 class="w3-text-teal">Rechercher des employés</h1>
      				<br/>
      				<div class='container'>
      					<div class='row'>
      						<div class='col-4'>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btnchercheremploye" name='btnchercheremploye' value='btnchercheremploye'>Afficher tous les employés</button>
      						</div>
      						<div class='col-1'></div>
      						<div class='col-4'>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btncacherliste" name='btncacherliste' value='btncacherlliste'>Dissimuler la liste des employés</button>
      						</div>
      					</div>
      					<br/>
      					<div class='form-row'>
      						<div class='col-3'>
      							<label for='recherche'>Recherche d'employés</label>	
      							<label for='recherche'>Rechercher par:</label>
      						</div>
      						<div class='col-4'>
      							<input name='nomouprenom' class='form-control form-constrol-sm' id='nomouprenom' type='text' pattern='[a-zA-Z]{4,20}'>
      							<select id="selectionRecherche" class="form-control">
        							<option value="nom">Nom</option>
        							<option value ="prenom">Prenom</option>
      							</select>
      						</div>
      						<div class='col-4'>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btnrecherche" name='btnrecherche' value='btnrecherche'>Rechercher</button>
      						</div>
      					</div>
      				</div>
      				<br/><br/>
      				<table class='table'>
      					<thead>
      					<tr>
      						<th>Identifiant</th>
      						<th>Nom</th>
      						<th>Prenom</th>
      						<th>Heures maximales par semaine</th>
      						<th>Date d'embauche</th>
      					</tr>
      					</thead>
      					<tbody id="tableEmploye">
      					
      					</tbody>
      				</table>
    			</div>
    			
  			</div>

  			<div class="w3-row">
    			<div class="w3-twothird w3-container">
      				<h1 class="w3-text-teal">Ajouter un employé</h1>
      				<br/>
      				<div class='container'>
      				<form enctype='multipart/form-data'>
      				<fieldset>
      					<div class='form-row'>
      						<div class='form-group col-6'>
      							<label for='nomemploye'>Nom:</label>
      							<input name='nomemploye' class='form-control form-constrol-sm' id='nomemployeid' type='text' pattern='[a-zA-Z]{4,20}' required='required'>
      						</div>
      						<div class='form-group col-6'>
      							<label for='prenomemploye'>Prenom:</label>
      							<input name='prenomemploye' class='form-control form-constrol-sm' id='prenomemployeid' type='text' pattern='[a-zA-Z]{1,20}' required='required'>
      						</div>
      					</div>
      					<div class='form-row'>
      						<div class='form-group col-8'>
      							<label for='nbheuresmax'>Nombre d'heures de travail maximum par semaine:</label>
      							<input name='nbheuresmax' class='form-control form-constrol-sm' id='nbheuresmaxid' type='text' pattern='[0-9]{1,2}' required='required'>
      						</div>
      					</div>	
      					<div class='form-row'>
      						<div class='form-group col-8'>
      							<label for='nbheuresmax'>Date d'embauche:</label>
      							<input type='date' id='dateembauche' class='form-control'>
      							
      						</div>
      					</div>
      					<div class='form-row'>
      						<div class='form-group col-8'>
      							<label for='motdepasse'>Veuillez créer un mot de passe:</label>
      							<input name='motdepasse' class='form-control form-constrol-sm' id='motdepasse' type='text' pattern='[a-zA-Z0-9]{1,6}' required='required'>
      						</div>   						
      					</div>
      					<div class='form-row'>
      						<div class='form-group col-12'>
      							<label for='nbheuresmax'>Veuillez cocher les disponibilités de l'employé:</label>
      							<div class='form-group col-12'>
      								<p>Lundi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J1' value='J1'>
      									<label class='form-check-label' for='J1'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S1' value='S1'>
      									<label class='form-check-label' for='S1'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N1' value='N1'>
      									<label class='form-check-label' for='N1'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Mardi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J2' value='J2'>
      									<label class='form-check-label' for='J2'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S2' value='S2'>
      									<label class='form-check-label' for='S2'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N2' value='N2'>
      									<label class='form-check-label' for='N2'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Mercredi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J3' value='J3'>
      									<label class='form-check-label' for='J3'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S3' value='S3'>
      									<label class='form-check-label' for='S3'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N3' value='N3'>
      									<label class='form-check-label' for='N3'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Jeudi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J4' value='J4'>
      									<label class='form-check-label' for='J4'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S4' value='S4'>
      									<label class='form-check-label' for='S4'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N4' value='N4'>
      									<label class='form-check-label' for='N4'> Nuit </label>
      								</div>
      							</div>
      							<div class='form-group col-12'>
      								<p>Vendredi</p>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='J5' value='J5'>
      									<label class='form-check-label' for='J5'> Jour </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='S5' value='S5'>
      									<label class='form-check-label' for='S5'> Soir </label>
      								</div>
      								<div class='form-check form-check-inline'>
      									<input class='form-check-input' type='checkbox' id='N5' value='N5'>
      									<label class='form-check-label' for='N5'> Nuit </label>
      								</div>
      							</div>
      						</div>   						
      					</div>
      					<button class='btn btn-primary' style='background-color:grey; border:none' id="btncreeremploye" name='btncreeremploye' value='btncreeremploye'>Envoyer</button>
      				</fieldset>
      				</form>
      				</div>
    			</div>    		
  			</div>

  			<div class="w3-row w3-padding-64">
    			<div class="w3-twothird w3-container">
      				<h1 class="w3-text-teal">Congédier un employé</h1>
      				<div class='form-row'>
      					<form enctype='multipart/form-data' >
      					<fieldset>
      						<div class='form-group col-12'>
      							<label for='identifiant'>Identifiant de l'employé à congédier:</label>
      							<input name='identifiant' class='form-control form-constrol-sm' id='identifiant' type='text' pattern='[a-zA-Z]{5}' required='required'>
      							<br/>
      							<button class='btn btn-primary' style='background-color:grey; border:none' id="btncongediement" name='btncongediement' value='btncongediement'>Congédier</button>
      						</div>	
      					</fieldset>
      					</form>
      				</div>
    			</div>
  			</div>

  

  			<footer id="myFooter">
    			<div class="w3-container w3-theme-l2 w3-padding-32">
      				<h4>Footer</h4>
    			</div>

    			<div class="w3-container w3-theme-l1">
      				<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    			</div>
  			</footer>

		<!-- END MAIN -->
		</div>

		<script>
		// Get the Sidebar
		var mySidebar = document.getElementById("mySidebar");

		// Get the DIV with overlay effect
		var overlayBg = document.getElementById("myOverlay");

		// Toggle between showing and hiding the sidebar, and add overlay effect
		function w3_open() {
  			if (mySidebar.style.display === 'block') {
    			mySidebar.style.display = 'none';
    			overlayBg.style.display = "none";
  			} else {
    			mySidebar.style.display = 'block';
    			overlayBg.style.display = "block";
  			}
		}

		// Close the sidebar with the close button
		function w3_close() {
  			mySidebar.style.display = "none";
  			overlayBg.style.display = "none";
		}
		
		//FONCTIONS POUR ACCEDER À LA BASE DE DONNÉES
		const url = "/Employe";
		
		const btnCreer = document.getElementById("btncreeremploye");
		const btnAfficher = document.getElementById("btnchercheremploye");
		const btnCongedier = document.getElementById("btncongediement"); 
		const btnCacher = document.getElementById("btncacherliste")
		const btnChercher = document.getElementById("btnrecherche")
		
		btnAfficher.addEventListener("click", async e => {
		    try {
				const tableEmploye = document.getElementById("tableEmploye");
				while(tableEmploye.firstChild) tableEmploye.removeChild(tableEmploye.firstChild);
				const resultat = await fetch(url, {method: "GET"});
				const employes = await resultat.json();
				console.log(employes)
				employes.forEach(t => {
					const tr = document.createElement("tr");
					const td1 = document.createElement("td");
					const td2 = document.createElement("td");
					const td3 = document.createElement("td");
					const td4 = document.createElement("td");
					const td5 = document.createElement("td");
					td1.textContent = t.idemploye;
					td2.textContent = t.nomemploye;
					td3.textContent = t.prenomemploye;
					td4.textContent = t.nbrheuresmax;
					td5.textContent = t.dateembauche.substring(0,10);
					
					td2.addEventListener("click", async e=> {
						var nom = prompt("Veuillez entrer le nouveau nom de " + t.prenomemploye + " " + t.nomemploye)
						changerInfoEmploye(t.idemploye, nom, t.prenomemploye, t.nbrheuresmax, t.dateembauche)
					})
					
					td3.addEventListener("click", async e=> {
						var prenom = prompt("Veuillez entrer le nouveau prenom de " + t.prenomemploye + " " + t.nomemploye)
						changerInfoEmploye(t.idemploye, t.nomemploye, prenom, t.nbrheuresmax, t.dateembauche)
					})
					
					td4.addEventListener("click", async e=> {
						var heures = prompt("Veuillez entrer le nouveau nombre d'heures maximum de " + t.prenomemploye + " " + t.nomemploye)
						changerInfoEmploye(t.idemploye, t.nomemploye, t.prenomemploye, heures, t.dateembauche)
					})
					
					tableEmploye.appendChild(tr);
					tr.appendChild(td1);
					tr.appendChild(td2);
					tr.appendChild(td3);
					tr.appendChild(td4);
					tr.appendChild(td5);
				})
		    }catch (e) {
		  		console.log("Impossible d'afficher les employes");
		    }
		});	
		
		async function changerInfoEmploye(idemploye, nomemploye, prenomemploye, nbrheuresmax, dateembauche) {
			const jsonEmp = {};
			jsonEmp.idemploye = idemploye;
			jsonEmp.nomEmploye = nomemploye;
			jsonEmp.prenomEmploye = prenomemploye;
			jsonEmp.nbrheuresmax = nbrheuresmax;
			jsonEmp.dateembauche = dateembauche;
			const result = await fetch("/InfoEmploye", {
		        method: 'POST', 
				headers: { 
				'Accept': 'application/json',
					'Content-Type': 'application/json'
				}, 
				body: JSON.stringify(jsonEmp) })
			const success = await result.json();
			if(success.success) {
				alert("Les informations de l'employé ont été changé avec succès!");
			} else {
				alert("Echec");
			}	
		}
			
		}
		
		btnCacher.addEventListener("click", function() {
			const tableEmploye = document.getElementById("tableEmploye");
			while(tableEmploye.firstChild) tableEmploye.removeChild(tableEmploye.firstChild);
		}) 
		
		btnChercher.addEventListener("click", async e => {
			const tableEmploye = document.getElementById("tableEmploye");
			while(tableEmploye.firstChild) tableEmploye.removeChild(tableEmploye.firstChild);
			const resultat = await fetch(url, {method: "GET"});
			const employes = await resultat.json();
			console.log(employes)
			const dropDown = document.getElementById("selectionRecherche");
			const recherchePar = e.options[e.selectedIndex].value;
			const inputRecherche = document.getElementById("").text
			if (rechercherPar = "nom") {
				employes.forEach(t => {
					if (t.nomemploye = inputRecherche)	{				
						const tr = document.createElement("tr");
						const td1 = document.createElement("td");
						const td2 = document.createElement("td");
						const td3 = document.createElement("td");
						const td4 = document.createElement("td");
						const td5 = document.createElement("td");
						td1.textContent = t.idemploye;
						td2.textContent = t.nomemploye;
						td3.textContent = t.prenomemploye;
						td4.textContent = t.nbrheuresmax;
						td5.textContent = t.dateembauche.substring(0,10);					
						tableEmploye.appendChild(tr);
						tr.appendChild(td1);
						tr.appendChild(td2);
						tr.appendChild(td3);
						tr.appendChild(td4);
						tr.appendChild(td5);
					}
				})
			}else if (rechercherPar = "prenom") {
				employes.forEach(t => {
					if (t.prenomemploye = inputRecherche)	{				
						const tr = document.createElement("tr");
						const td1 = document.createElement("td");
						const td2 = document.createElement("td");
						const td3 = document.createElement("td");
						const td4 = document.createElement("td");
						const td5 = document.createElement("td");
						td1.textContent = t.idemploye;
						td2.textContent = t.nomemploye;
						td3.textContent = t.prenomemploye;
						td4.textContent = t.nbrheuresmax;
						td5.textContent = t.dateembauche.substring(0,10);					
						tableEmploye.appendChild(tr);
						tr.appendChild(td1);
						tr.appendChild(td2);
						tr.appendChild(td3);
						tr.appendChild(td4);
						tr.appendChild(td5);
					}
				})
			}
			
		})
		
		btnCreer.addEventListener("click", async e => {	
			try {
				const jsonEmp = {};			
				jsonEmp.nomemploye =  document.getElementById('nomemployeid').value;					
				jsonEmp.prenomemploye = document.getElementById('prenomemployeid').value;
				jsonEmp.idemploye = creerIDEmploye(jsonEmp.nomemploye, jsonEmp.prenomemploye);
				var heures = document.getElementById('nbheuresmaxid').value;
				jsonEmp.nbrheuresmax = parseInt(heures, 10);				
				var date = document.getElementById('dateembauche').value
				jsonEmp.dateembauche = new Date(date);
				jsonEmp.motdepasse = document.getElementById('motdepasse').value;
				console.log(jsonEmp.nomemploye)
				
				if (document.getElementById("J1").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'J', '1', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'J', '1', '0');
				}				
				if (document.getElementById("S1").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'S', '1', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'S', '1', '0');
				}				
				if (document.getElementById("N1").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'N', '1', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'N', '1', '0');
				}				
				if (document.getElementById("J2").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'J', '2', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'J', '2', '0');
				}				
				if (document.getElementById("S2").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'S', '2', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'S', '2', '0');
				}				
				if (document.getElementById("N2").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'N', '2', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'N', '2', '0');
				}				
				if (document.getElementById("J3").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'J', '3', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'J', '3', '0');
				}	
				if (document.getElementById("S3").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'S', '3', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'S', '3', '0');
				}
				if (document.getElementById("N3").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'N', '3', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'N', '3', '0');
				}				
				if (document.getElementById("J4").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'J', '4', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'J', '4', '0');
				}				
				if (document.getElementById("S4").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'S', '4', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'S', '4', '0');
				}				
				if (document.getElementById("N4").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'N', '4', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'N', '4', '0');
				}				
				if (document.getElementById("J5").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'J', '5', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'J', '5', '0');
				}
				if (document.getElementById("S5").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'S', '5', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'S', '5', '0');
				}				
				if (document.getElementById("N5").checked) {
					insererDisponibilite(jsonEmp.idemploye, 'N', '5', '1');
				}else {
					insererDisponibilite(jsonEmp.idemploye, 'N', '5', '0');
				}
				
				const result = await fetch(url, {
				        method: 'POST', 
					headers: { 
					'Accept': 'application/json',
      					'Content-Type': 'application/json'
					}, 
					body: JSON.stringify(jsonEmp) })
				const success = await result.json();
				if(success.success) {
					alert("Employé créé avec succès!");
				} else {
					alert("Echec");
				}
			} catch (e) {
				console.log("Impossible d'ajouter un employe");
			}
		})

		function creerIDEmploye(nom, prenom) {
			let nomUn = nom.charAt(0);
			let prenomQuatre = prenom.substring(0,4);
			let ID = nomUn.concat(prenomQuatre);
			return ID;
		}
		
		async function insererDisponibilite(idemploye, typequart, joursemaine, dispo) {
			const jsonDispo = {};	
			jsonDispo.idemploye = idemploye;
			jsonDispo.typequart = typequart;
			jsonDispo.joursemaine = joursemaine;
			jsonDispo.dispo = dispo;
			const result = await fetch('/Disponibilite', {
		        method: 'POST', 
				headers: { 
				'Accept': 'application/json',
					'Content-Type': 'application/json'
			}, 
			body: JSON.stringify(jsonDispo) })
			const success = await result.json();
		}		
		
		btnCongedier.addEventListener("click", async e => {
			const jsonRequest = {}
			jsonRequest.idemploye = document.getElementById('identifiant').value;
			const resultat = await fetch(url, {method: "DELETE", 
        		headers: { "content-type": "application/json"}, body: JSON.stringify(jsonRequest) })
        	const success = await resultat.json();
			if(success.success) {
				alert("Employé congédié avec succès!");
			} else {
				alert("Echec");
			}
		})		
		</script>		
	</body>
</html>
