<!DOCTYPE html>
<html lang="en">
<title>Index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="/AffichageHoraire" class="w3-bar-item w3-button w3-theme-l1">Affichage Horaire</a>
    <a href="/GestionEmploye" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Employe</a>
    <a href="/GestionHoraire" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Gestion Horaire</a>
  </div>
</div>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
      <div class="w3-row">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Générer un horaire:</h1>
            <br/>
            <div class='container'>
            <form enctype='multipart/form-data'>
            <fieldset>
              <div class='form-row'>
                <div class='form-group col-3'>
                  <label for='lundijour'>Jour:</label>
                  <input name='lundijour' class='form-control form-constrol-sm' id='lundijour' type='text' pattern='[0-9]' required='required'>
                </div>
                <div class='form-group col-3'>
                  <label for='lundisoir'>Soir:</label>
                  <input name='lundisoir' class='form-control form-constrol-sm' id='lundisoir' type='text' pattern='[0-9]' required='required'>
                </div>
                <div class='form-group col-3'>
                    <label for='lundinuit'>Soir:</label>
                    <input name='lundinuit' class='form-control form-constrol-sm' id='lundinuit' type='text' pattern='[0-9]' required='required'>
                </div>
                <div class='form-group col-3'>
                    <label for='nbheuresmax'>Date:</label>
      							<input type='date' id='datelundi' class='form-control'>
                  </div>
              </div>
              
              
              <button class='btn btn-primary' style='background-color:grey; border:none' id="btncreeremploye" name='btncreeremploye' value='btncreeremploye'>Envoyer</button>
            </fieldset>
            </form>
            </div>
        </div>    		
      </div>

  <!-- A modifier plus tard pour ajout de contenue
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  </div>
-->

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");
// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");
// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}
// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

//Fonction d'accès à la BD
const url = "/Horaire";
const btnGenerer = document.getElementById("btngenererhoraire");

btnGenerer.addEventListener("click", async e => {	
			try {
				const jsonEmp = {};								
        jsonEmp.employejour = document.getElementById('employejour').value;
        jsonEmp.employesoir =  document.getElementById('employesoir').value;
        jsonEmp.employenuit =  document.getElementById('employenuit').value;
				var date = document.getElementById('datehoraire').value
				jsonEmp.datehoraire = new Date(date);
				const result = await fetch(url, {
				        method: 'POST', 
					headers: { 
					'Accept': 'application/json',
      					'Content-Type': 'application/json'
					}, 
					body: JSON.stringify(jsonEmp) })
				const success = await result.json();
				alert(success.success);
			} catch (e) {
				console.log("Impossible de générer un horaire");
			}
		})
</script>

</body>
</html>
